@import "nib"
@import "normalize.css"
@import "slider.styl"
@import "font.styl"
@import url(http://fonts.googleapis.com/css?family=Courgette)

.u-Container
	width 90%;
	max-width 1024px
	margin 0 auto
	position relative
.u-Titleh1
	font-family 'Courgette' cursive
	color #12A8B5
	font-size 45px
	border-bottom 1px solid rgba(0,0,0,.1)
	text-align center
	font-weight 300
.Regresar
	position absolute
	bottom 0
	left 0
	text-decoration none
	text-transform uppercase
	color #16210B

.MainMenu
	position absolute
	right 0
	top 2.5em
	z-index 4
	&-list
		margin 0
		padding 0
	&-item
		display inline-block
		text-transform uppercase
		text-align center
		height 50px
		line-height 50px
		list-style none
		padding 0 .5em
		cursor pointer
		&:hover
			border-bottom 5px solid #28713F
	&-link
		color #272822
		text-decoration none
		&:hover
			color #272822
			text-decoration none

.Header
	box-shadow 0 0 20px black
	background-image url('../img/isla_pascua.jpg')
	background-repeat no-repeat
	background-size cover
	background-position center
	position fixed
	top 0
	width 100%
	z-index 5
	&-logo
		margin 0
	&-button
		background white
		box-shadow 0 0 10px black
		border none
		border-radius 50%
		display none
		height 40px
		line-height 40px
		outline 0
		padding 0
		position fixed
		right 1em
		bottom 1em
		width 40px
		z-index 1000

.Slider
	box-shadow 0 0 20px rgba(0,0,0,.5)
	max-width 1024px
	margin 10em auto
	margin-bottom 0
	position relative
	&-titleContainer
		background rgba(18, 168, 181, 0.8)
		color white
		position absolute
		text-align left
		bottom 0
		width 80%
		border-radius 0 100% 0 0
		z-index 3
	&-title
		font-family 'Courgette' cursive
		margin 0
		padding-left .5em
		font-size 4.5em
		font-weight 300
		text-shadow 0 0 10px rgba(0,0,0,.8)
	&-title2
		font-family 'Courgette' cursive
		margin 0
		padding-left .5em
		font-size 2.5em
		font-weight 300
		text-shadow 0 0 10px rgba(0,0,0,.8)
		margin-top 1em

.Contenido
	border-top 1px solid lightgray
	margin-top 2em
	margin-bottom 2em
	&-redesButton
		margin-bottom 1em
		display block
		color white
		border none
		outline 0
		padding .5em 1em
		border-radius .5em
		box-shadow 0 0 5px rgba(0,0,0,.5)
		&.facebook
			background #888888
			transition-duration 0.3s
			transition-property transform
			transform scale(1) rotate(0)
			&:hover
				background #47639E
				transform scale(1.05) rotate(5deg)
		&.youtube
			background #888888
			transition-duration 0.3s
			transition-property transform
			transform scale(1) rotate(0)
			&:hover
				background #DF2826
				transform scale(1.05) rotate(5deg)


	&-redesLink
		color white
		text-decoration none
	&-redesTitle
		font-weight 300
		color #276F3E
	&-nosotros
		margin-top 10em
		margin-bottom 4em
		text-align center
	&-texto1Text
		width 45%
		display inline-block
		vertical-align middle
		text-align right
	&-texto1Image
		display inline-block
		width 42%
		vertical-align middle
	&-texto2Text
		width 45%
		display inline-block
		vertical-align middle
		text-align left
	&-texto2Image
		display inline-block
		width 42%
		vertical-align middle
	&-nosotrosTexto
		line-height 1.5em
	&-image
		box-shadow 0 0 30px black
	&-empresasItem
		display inline-block
		vertical-align middle
	&-empresasImageDescription
		font-style italic


.Timeline
	&-main
		margin-top 10em
	&-lineaTiempo
		margin: 30px 0 0 0;
		padding: 0;
		list-style: none;
		position: relative;
		&:before
			content ''
			position absolute
			top 0
			bottom 0
			width 10px
			background #11A6B3
			left 20%
			margin-left -10px
			border-radius 20px
	&-text
		margin: 0 0 15px 25%;
		background: #558CC2;
		color: #fff;
		padding: 2em;
		font-weight: 300;
		line-height: 1.5em;
		position: relative;
		border-radius: 5px;
	&-title
		margin-top: 0px;
		padding: 0 0 10px 0;
		border-bottom: 1px solid rgba(255,255,255,0.4);
	&-containerImage
		padding 0
		margin 0
		position absolute
		left 15.9%
	&-image
		border-radius 100%
	&-link
		position absolute
		bottom 0
		right 0
		font-size 16px
		padding 1em
		color white
	&-p
		text-indent 15px
		padding-bottom 1em

.Timeline-lineaTiempo > li .Timeline-date {
	display: inline-block;
	padding 1.5em 0
	position: absolute;
	text-align right
	font-style italic
	font-size 14px
}

.Timeline-lineaTiempo > li .Timeline-date span {
	display: block;
	text-align: right;
}

.Timeline-lineaTiempo > li .Timeline-date span:first-child {
	font-size: 0.9em;
	color: #76B4F9;
}

.Timeline-lineaTiempo > li .Timeline-date span:last-child {
	font-size: 2em;
	color: #4989C5;
}

.Timeline-lineaTiempo > li:nth-child(odd) .Timeline-date span:last-child {
	color: #6cbfee;
}
.Timeline-lineaTiempo > li:nth-child(odd) .Timeline-text {
	background: #76B4F9;
}
/* The triangle */
.Timeline-lineaTiempo > li .Timeline-text:after {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-right-color: #4989C5;
	border-width: 10px;
	top: 30px;
}

.Timeline-lineaTiempo > li:nth-child(odd) .Timeline-text:after {
	border-right-color: #A4C9F3
}


.Galeria
	margin-top 10em
	margin-bottom 5em
	text-align center
	&-Container
		margin-top 2em
		display flex
		flex-wrap wrap
		justify-content space-around
	&-containerImage
		padding 0
		margin 0 0 1em 0
	&-item
		display inline-block
		max-width 15em
	&-image
		transition .5s
		box-shadow 0 5px 15px rgba(0,0,0,.7)
		&:hover
			transition .5s
			border-radius 100%

	&-imageDescription
		font-style italic
		color #12A8B5
		padding 1em 0
	&-link
		text-decoration none
.Argentina
	margin-top 10em
	&-description
		position relative
		margin-top 5em
		padding-bottom 5em
		line-height 1.5em

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
.rslides_tabs
	display block
	margin 0 auto
	text-align center
	background #11A6B3
	box-shadow 0 5px 10px rgba(0,0,0,.7)
	border-radius 0 0 .5em .5em
.rslides_tabs > li
	display inline-block
	text-decoration none
	padding .7em
	font-size 1.2em
.rslides_tabs > li > a
	color white
	text-decoration none
.rslides_here
	background #76B4F9


.Contacto
	margin-top 10em
	margin-bottom 5em
	text-align center
	&-form
		width 100%
	&-input
	&-textarea
		background white
		border 1px solid rgba(0,0,0,0.2)
		border-radius 5px
		box-shadow none
		display inline-block
		margin-bottom 1em
		outline none
		padding .5em
		width 95%
	&-textarea
		height 100px
		resize none

.Administrador
	margin-top 10em
	margin-bottom 5em
	&-label
		font-weight bold
	&-input
	&-textarea
		margin 1em 0
		display block
		width 100%
		padding .5em 1em
		border-radius .5em
		border 1px solid rgba(0,0,0,.2)
		resize none
		outline none
	&-button
		display inline-block
		width 49%
	&-contenedorButton
		text-align center
	&-textarea
		height 100px


.Footer
	background #A3A286
	color #6E7554
	padding .5em
	text-align center
	&-description a
		color #6E7554




@media screen and (max-width: 1024px)
	.Timeline
		&-containerImage
			left 15.5%

	.Timeline-lineaTiempo > li .Timeline-date {
		font-size 12px
		width initial
	}
@media screen and (max-width: 960px)
	.Timeline
		&-containerImage
			left 14%

	.Timeline-lineaTiempo > li .Timeline-date {
		font-size 10px
		padding 2.5em 0
		width initial
	}

@media screen and (max-width: 767px)
	.u-Container
		position initial
	.u-Titleh1
		font-size 30px
	.Header
		margin-top 0
		text-align center
		padding 1px 0
		&-button
			&.is-active
				display block
		&-logoImage
			width 100px
	.MainMenu
		background white
		height 100vh
		top 0
		margin 0
		right -200px
		width 200px
		transition .3s

		&.is-active
			right 0
			box-shadow 1px 0 20px black
		&-item
			display block
	.Slider
		margin-top 8em
		&-title
			font-size 2em
		&-title2
			font-size 1em
	.Contenido
		&-nosotros
			margin-top 8em
		&-texto1Text
		&-texto2Text
			width initial
			text-align left
		&-texto1Image
		&-texto2Image
			width initial
			margin 0 auto
			padding 0
		&-image
			width 260px

	.Timeline-lineaTiempo:before {
		display: none;
	}

	.Timeline-lineaTiempo > li .Timeline-date {
		width: 100%;
		position: relative;
		padding: 0 0 20px 0;
	}

	.Timeline-lineaTiempo > li .Timeline-date span {
		text-align: left;
	}

	.Timeline-lineaTiempo > li .Timeline-text {
		margin: 0 0 30px 0;
		padding: 1em;
		font-weight: 400;
		font-size: 95%;
	}

	.Timeline-lineaTiempo > li .Timeline-text:after {
		right: auto;
		left: 20px;
		border-right-color: transparent;
		border-bottom-color: #3594cb;
		top: -20px;
	}

	.Timeline-lineaTiempo > li:nth-child(odd) .Timeline-text:after {
		border-right-color: transparent;
		border-bottom-color: #6cbfee;
	}

	.Timeline-lineaTiempo > li .Timeline-containerImage {
		position: relative;
		float: right;
		left: auto;
		margin: -55px 5px 0 0px;
	}
	.Timeline
		&-main
			margin-top 8em
		&-image
			width 50px
			height 50px
	.Argentina
	.Galeria
	.Contacto
		margin-top 8em
	.rslides_tabs > li
		font-size 1em

